.flag-red {
    fill: #bf0a30;
  }

.flag-gold {
fill: #fed700;
}

.flag-copper {
fill: #ce5c17;
}

.flag-blue {
fill: #002868;
}

.anno-marker {
stroke: #002868; fill: #002868; 
}

.anno-text1 {
font: bold 20px sans-serif;
fill: #002868;
}

.anno-text2 {
fill: #002868;
}

.anno-line {
stroke: #002868; stroke-width: 2;
}

.scene-border {
border: solid;
display: block;
margin: auto;
border-color: #002868;
}

.legend1 {
    fill: #fed700;
}

.legend2_red {
    fill: #bf0a30;
}

.legend2_copper {
    fill: #ce5c17;
}
.explore-btns {
    color:#fff!important;background-color: #002868!important
}
.active {
    background-color: #666;
    color: white;
  }



.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 44px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ce5c17;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fed700;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: rgb(0, 0, 0);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-weight: bold;
  }

 .off
  {
    color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-weight: bold;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}